@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Old+Standard+TT:ital@0;1&family=Playball&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css');
/*
font-family: 'DM Serif Text', serif; --> tiene italic
font-family: 'Old Standard TT', serif; --> tiene italic
font-family: 'Playball', cursive;
*/
*, ::before, ::after{
    font-family: 'Old Standard TT', 'DM Serif Text', 'Times New Roman', Times, serif;
}
img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: fade 3s infinite ease-in-out;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}